<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <p><%= @user.name %>!</p>
    
    <p>We're so pleased you've joined us. Here's the link to <%= link_to 'your profile', "http://localhost:3000/login" %>.</p>

    <p>If you have any questions or feedback, we'd love to hear from you. You can reach us at <a href="mailto:hello@virtu.io?Subject=Client%20inquiry" target="_blank">hello@virtu.io</a> or reply to this email.</p> 

    <p>Cheers,<br>
	  Team Virtu.io</p>

  </body>
</html>